@charset "utf-8";

//-----------------------------------------------------
// layout scss  
//-----------------------------------------------------

//single page frame
html {
  height: 100%; // fix the virtul keyboard issues
}
body { // app window
  width: 100%;
  height: 100%;
  min-width: 320px;
  overflow: hidden;
  background-color: $base-bg-color;

  &.full-bg {
    background-image: url(../../images/bg/bg_lomo_x2.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
  }
}

header { // common navgation header
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: $nav-height; // navgation height
  background-color: $base-bg-blue;
  text-align: center;

  h1 {
    display: inline-block;    
    max-width: 65%;
    padding-top: 10px;
    font-size: $font-size-lg;    
    text-align: left;
    color: $base-color-white;
    line-height: 18px;    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
  }

  .nav-back, .nav-home {
    position: absolute;
    top: 0;    
    display: inline-block;
    width: 40px;
    height: $nav-height;
    
  }

  .nav-back {
    left: 0;
    padding-left: 20px;
  }
  .nav-home {
    right: 0;
    padding-right: 20px;
  }

  &.demonav { // ---------------------- for demo
    position: relative;
    margin-bottom: $layout-base-gap;
  }

  // -----------------   header ext style
  .title-nav-multi {
    padding-top: 5px;
    line-height: 1;

    em {
      font-size: 10px;
    }
  }
  .btn-nav-side {
    position: absolute;
    top: 0;
    right: 10px;
    width: 60px;
    height: $nav-height;
    text-align: right;
    font-size: $font-size-sm;
    color: #FFF;
    line-height: $nav-height;
  }
  .nav-confirm {
    font-size: 16px;
  }

}

.main { // pages slide container
  position: relative;  
  width: 100%;
  height: 100%;
  padding-bottom: 45px;
  overflow: hidden;
  -webkit-transform: translate3d(0, 0, 0); // 创建webkit渲染层，激活GPU加速
  -webkit-backface-visibility: hidden; // 规避3D渲染背面，消除闪动
  @extend %boxcontent;

  .container {
    padding: 40px 0 45px; // 空出header和footer的高度
  }
}

.page { // single page
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  background-color: $base-bg-color;
  -webkit-transform: translate3d(0, 0, 0);    
}

footer { // common footer
  position: relative;
  z-index: 2;
  width: 100%;
  height: 45px;
  margin-top: -45px;  

  @if $demo{
    background-color: rgba(0,0,0,.6); // ----------------临时demo
  }
  
}

// top container for blue background
.top-container {
  padding: 10px 5px;
  background-color: $base-bg-blue;
}

.top-search {
  position: absolute;
  z-index: 2;
  top: 40px;
  width: 100%;
  height: 50px;

  @extend %boxcontent;
}

// -------------------------------------tab base style
.tab {
  width: 100%;
  @extend %box;
  @extend %boxcontent; 

  li {       
    width: 50%;
    text-align: center;
    @extend %boxcontent;    
  }
}

.tab-primary {
  color: $base-color-white;
  background-color: $base-bg-blue;
  border: 1px solid #FFF;
  @include border-radius($base-border-radius);

  li {
    height: 28px;
    line-height: 28px;
    font-size: 16px;
    border-right: 1px solid #FFF;

    &.cur {
      background-color: rgba(255,255,255, .5);
    }

    &:first-child {      
      @include border-radius(5px 0 0 5px);
    }
    &:last-child {
      border-right: none;
      @include border-radius(0 5px 5px 0);
    }
  }
}

.tab-simple {
  color: #333;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB;
  background-color: $base-color-white;

  li {
    margin-top: -1px;
    height: 40px;
    line-height: 40px;
    border-top: 2px solid transparent;

    &.cur {
      color: $font-color-blue;
      border-color: $base-color-blue;
    }
  }
}

// nav tab
.tab-nav {
  position: absolute;
  top: 5px;
  left: 50%;
  width: 62.5%;
  margin-left: -31.25%;
}

// ------------------------------------search base style
.search {
  width: 100%;
  height: 28px;
  border: 1px solid $base-color-white;
  background-color: $base-bg-blue;
  @include border-radius(5px);

  // search input
  input[type="text"] {
    display: block;
    width: 100%;
    height: 28px;
    padding: 4px 30px 4px 10px;
    color: $base-color-blue;
    @extend %boxcontent;
  }
}

// search navbar
.search-nav {
  position: absolute;
  top: 5px;
  right: 10px;
  width: 36px;
  border-color: transparent;
  @include transition(300ms);
  @include transition-delay(100ms);

  input[type="text"] {
    display: none;
  }

  .icon-search {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  // on touched
  &.on {
    width: 80%;
    border-color: $base-color-white;

    input[type="text"] {
      display: block;
    }
  }
}

// search top mulit
.search-mulit {
  position: relative;

  input[type="text"] {
    padding-left: 40px;
    padding-right: 88px;
    color: $base-color-white;
    background-color: transparent;
    background-image: url(../../images/icon_search.png?20140321);
    background-size: 24px 24px;
    background-position: 10px center;
    background-repeat: no-repeat;

    @include transition(padding 300ms ease .1s);
    
    &:focus {
      background: none;
      padding-left: 10px;
    }
  }

  .btn-search-enter,
  .btn-search-delete {
    position: absolute;
    top: -8px;
    right: 0px;
  }
  .btn-search-enter + .btn-search-delete {
    right: 44px;
  }

}

// ------------------------------- framework page slide animation
.slideSlow {
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.42, 0, 0.58, 1.0) 0.1s;
}
.slideFast {
  -webkit-transition: -webkit-transform 350ms cubic-bezier(0.42, 0, 0.58, 1.0);
}
.pageInt {
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.pageOld {
  -webkit-transform: translate3d(-100%, 0px, 0px);
}
.pageNew {
  -webkit-transform: translate3d(100%, 0px, 0px);
}

// ---------------------------------- full background images design
.full-bg { // 临时
  header, .page {
    background-color: transparent;
  }
}