@charset "utf-8";

//-----------------------------------------------------
// typography scss 
//-----------------------------------------------------

h1,h2,h3{line-height: 1.8em;}
h1{font-size: 24px;}
h2{font-size: 18px;}
h3{font-size: 16px;}

p{
	font-size:14px;
	line-height:1.5em;
}
.text-sm{
	font-size: 12px;
}

.text-gray{
	color: #666666;
}

/* base price */
.base-price{
	font-size: 12px;
	line-height: 26px;

	b{
		font-size: 22px;
		color: #F60;
	}

	dfn{
		vertical-align: super;
	}
}
.price-sm{
	line-height: 22px;

	b{
		font-size: 18px;
	}
}

// text content
.txt-ellipsis {
	display: inline-block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}